html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}


.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aol{
  flex-direction: column;
  display: flex;
  align-content: center;
  margin: auto;
background-color: #e6e6e6;
border-top: 30px  solid #0000ff;
border-left: 10px  solid #0000ff;
border-right: 10px  solid #0000ff;
border-bottom: 10px  solid #0000ff;
padding: 5px;
width: 50vw; height: 75vh;
/*margin: 1%;
   padding: 2%;*/
   line-height: 1.8em;
   font-size: 1.4em;
}


.chat-body{
  border-top: 2px solid black;
  border-left: 2px solid black;
margin-bottom: 50px;
  order: 1;
background-color: white;
width: 100%; height: 50%;
overflow: scroll;
}

h1 {
margin-left: 30px;
font-size: 20px;
color: blue;
}

h1:before {
  content: 'Joe: ';
  color: blue;
}

h2 {
margin-left: 30px;
font-size: 20px;
color: red;
}

h2:before {
  content: 'smokeabrick420: ';
  color: red;
}

.message-body{
  border-top: 2px solid black;
  border-left: 2px solid black;
  order: 2;
background-color: white;
width: 100%; height: 30%;
}
