html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
  background-image: url('http://wallpapersonthe.net/wallpapers/b/5120x4096/5120x4096-windows_xp_garden-31249.jpg');

    background-size: cover;
}


.flex{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aol{
  flex-direction: column;
  display: flex;
  align-content: center;
  margin: auto;
background-color: #e6e6e6;
border-top: 30px  solid blue;
border-left: 3px  solid  blue;
border-right: 3px  solid blue;
border-bottom: 3px  solid blue;
padding: 5px;
width: 50vw; height: 75vh;
/*margin: 1%;
   padding: 2%;*/
   line-height: 1em;
   font-size: 1em;
      border-radius: 5px;
          box-shadow: 2px 2px 5px #000;
}


.chat-body{
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding-right: 5px;
margin-bottom: 50px;
  order: 1;
background-color: white;
width: 100%; height: 50%;
overflow: auto;;
}

h1 {
margin-left: 20px;
font-size: 1em;
color: blue;
}

h1:before {
  content: 'De_La_Joe.L1992: ';
  color: blue;
}

h2 {
margin-left: 20px;
font-size: 1em;
color: red;
}

h2:before {
  content: 'smokeabrick420: ';
  color: red;
}

.message-body{
  border-top: 2px solid black;
  border-left: 2px solid black;
  order: 2;
background-color: white;
width: 100%; height: 30%;
}
